[project]
	description = rss downloader made for podcasts
[access "refs/*"]
	owner = group user/kilatev (kilatev)
[access "refs/for/refs/*"]
	read = group user/kilatev (kilatev)
	push = group user/kilatev (kilatev)
	label-Code-Review = -2..+2 group user/kilatev (kilatev)
	label-Verified = -1..+1 group user/kilatev (kilatev)
	rebase = group user/kilatev (kilatev)
	removeReviewer = group user/kilatev (kilatev)
	submit = group user/kilatev (kilatev)
[access "refs/heads/*"]
	read = group user/kilatev (kilatev)
	create = group user/kilatev (kilatev)
	push = +force group user/kilatev (kilatev)
	pushMerge = group user/kilatev (kilatev)
[access "refs/tags/*"]
	push = +force group user/kilatev (kilatev)
	pushTag = group user/kilatev (kilatev)
	pushSignedTag = group user/kilatev (kilatev)
